<!-- <p>message-preview works!</p>
 -->
<li class="message-preview">
  <a href="#">
    <div class="media">
      <span class="pull-left">
        <img class="media-object" src="http://placehold.it/50x50" alt="" />
      </span>
      <div class="media-body">
        <h5 class="media-heading">
          <strong>{{ message.name }}</strong>
        </h5>
        <!-- DateTime   -->
        <app-date-time [dateTime]="message.date"></app-date-time>
        <!-- DateTime   -->
        <p>{{ message.message }}</p>
      </div>
    </div>
  </a>
</li>
