<!-- <p>transactions-panel works!</p>
 -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <i class="fa fa-money fa-fw"></i> Transactions Panel
    </h3>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped">
        <thead>
          <tr>
            <th>Order #</th>
            <th>Order Date</th>
            <th>Order Time</th>
            <th>Amount (USD)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of Orders">
            <td *ngIf="order.amount > 1000" style="color:red">
              {{ order.id }}
            </td>
            <td *ngIf="order.amount < 1000" style="color:black">
              {{ order.id }}
            </td>
            <td *ngIf="order.amount > 1000" style="color:red">
              {{ order.orderDate }}
            </td>
            <td *ngIf="order.amount < 1000" style="color:black">
              {{ order.orderDate }}
            </td>
            <td *ngIf="order.amount > 1000" style="color:red">
              {{ order.orderTime }}
            </td>
            <td *ngIf="order.amount < 1000" style="color:black">
              {{ order.orderTime }}
            </td>
            <td *ngIf="order.amount > 1000" style="color:red">
              {{ order.amount }}
            </td>
            <td *ngIf="order.amount < 1000" style="color:black">
              {{ order.amount }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="text-right">
      <a href="#"
        >View All Transactions <i class="fa fa-arrow-circle-right"></i
      ></a>
    </div>
  </div>
</div>
